appdirs==1.4.4
asttokens==2.2.1
backcall==0.2.0
Bottleneck @ file:///C:/ci_311/bottleneck_1676500016583/work
brotlipy==0.7.0
certifi @ file:///C:/b/abs_4a0polqwty/croot/certifi_1683875377622/work/certifi
cffi @ file:///C:/ci_311/cffi_1676423759166/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///C:/ci_311/click_1676433091657/work
colorama==0.4.6
comm==0.1.3
cryptography @ file:///C:/b/abs_b28tzldafl/croot/cryptography_1686613103834/work
debugpy==1.6.7
decorator==5.1.1
executing==1.2.0
Flask @ file:///C:/ci_311/flask_1676436667658/work
idna @ file:///C:/ci_311/idna_1676424932545/work
ipykernel==6.23.1
ipython==8.14.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jedi==0.18.2
Jinja2 @ file:///C:/ci_311/jinja2_1676424968965/work
joblib @ file:///C:/b/abs_1anqjntpan/croot/joblib_1685113317150/work
jupyter_client==8.2.0
jupyter_core==5.3.0
MarkupSafe @ file:///C:/ci_311/markupsafe_1676424152318/work
matplotlib-inline==0.1.6
mkl-fft==1.3.6
mkl-random @ file:///C:/Users/dev-admin/mkl/mkl_random_1682977971003/work
mkl-service==2.4.0
nest-asyncio==1.5.6
numexpr @ file:///C:/b/abs_afm0oewmmt/croot/numexpr_1683221839116/work
numpy @ file:///C:/Users/dev-admin/mkl/numpy_and_numpy_base_1682982345978/work
packaging==23.1
pandas @ file:///C:/ci_311_rebuilds/pandas_1679004481142/work
parso==0.8.3
pickleshare==0.7.5
platformdirs==3.5.1
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
prompt-toolkit==3.0.38
psutil==5.9.5
pure-eval==0.2.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.15.1
pyOpenSSL @ file:///C:/b/abs_de215ipd18/croot/pyopenssl_1678965319166/work
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///C:/ci_311/pytz_1676427070848/work
pywin32==306
pyzmq==25.1.0
requests @ file:///C:/b/abs_41owkd5ymz/croot/requests_1682607524657/work
scikit-learn @ file:///C:/b/abs_38k7ridbgr/croot/scikit-learn_1684954723009/work
scipy==1.10.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
stack-data==0.6.2
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tornado==6.3.2
traitlets==5.9.0
urllib3 @ file:///C:/b/abs_889_loyqv4/croot/urllib3_1686163174463/work
wcwidth==0.2.6
Werkzeug @ file:///C:/b/abs_8578rs2ra_/croot/werkzeug_1679489759009/work
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
